<div class="register container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">


    <h2>Olvidaste la contraseña?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <h4 style="color:black">Correo</h4>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control input-lg' %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Enviarme las instrucciones", class: 'form-control input-lg' %>
      </div>
    <% end %>
    <br>
    <div>
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>
