<div class="register container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f| %>
        <!-- <h2 class="form-signin-heading">Por favor Inicia Sesión</h2> -->
        <br>
        <div>
          <h4 style="color:black">Usuario</h4>
          <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Correo Electrónico' %>
        </div>
        <div>
          <h4 style="color:black">Contraseña</h4>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Contraseña' %>
        </div>
        <% if devise_mapping.rememberable? -%>
        <br>
          <label>
            <%= f.check_box :remember_me, label: false %>
            Recuerdame
          </label>
          <br>
        <% end -%>
        <%= f.button "Iniciar Sesión", class: 'btn-sub btn btn-lg btn-success btn-block col-md-offset-0'%>
      <% end %>
      <br>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
