<div class="container">
	<div class="row">
		<h1><%= form_title %></h1>
		<% if @post.errors.any? %>
			<div class="alert alert-danger">
				<ul>
				<% @post.errors.full_messages.each do |error|%>
					<li> <%= error  %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

		<%= form_for @post do |f| %>
			<div class="field">
				 <%= f.file_field :cover_picture %>
			</div>
			<div class="form_group">
				<%= f.text_field :title, class: "form-control input-lg title", placeholder:"Título del post"%>
			</div>
			<br>
			<div class="form_group">
				<%= f.text_area :body, class: "form-area form-control input-lg", id:"form-area", placeholder:"Escribe tu entrada"%>
			</div>
			<br>
			<div>
				<%= f.submit form_title, class: "btn btn-primary btn-lg btn-block" %>
			</div>
		<% end %>
	</div>
</div>
