<div class="container">
  <div class="row">
    <%= link_to "Ir a los posts", posts_path, class:"btn-danger btn-lg  col-sm-offset-10", style:"padding:10px;"%>
      <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2">
          <h1 style="color:#337ab7;"><%=markdown(@post.title)%></h1>
          <% if @post.header_image.attached? %>
            <p>Creado por: <%= @post.user.first_name%> <%= @post.user.last_name%> (<%=@post.user.email%>)</p>
            <p style="margin-bottom:20px"></p>
            <p><%=time(@post)%></p>
          <div class="" style="margin-left:50px;">
          <div >
            <%=image_tag @post.header_image.variant(resize: "500x300")%>
          </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-2" style="margin-bottom:50px;margin-top:50px;">
          <div class="" style="margin-bottom:50px;font-size:17px;">
            <p class="post-body-text"><%=markdown(@post.body)%></p>
          </div>
          <% @post.uploads.each do |upload|%>
            <% if upload.variable?%>
                <%=link_to image_tag(upload.variant(resize: "100x100")), upload%>
              <% elsif upload.previewable?%>
              <h5 style="color:blue;">Descarga la Imagen</h5>
                <%=link_to image_tag(upload.preview(resize: "100x100")), rails_blob_path(upload, disposition: :attachment)%>
              <% elsif upload.image?%>
                <%=link_to image_tag(upload, width: 300), upload%>
              <% else %>
                <%=link_to upload.filename, rails_blob_path(upload, disposition: :attachment)%>
            <%end%>
          <%end%>
          <h5 style="color:blue;">Mira los archivos Adjuntos</h5>
        </div>
      </div>
        <% else %>
          <%= render 'local'  %>
        <%end%>

        <%if @comment.errors.any?%>
          <div class="alert alert-danger">
            <ul>
              <% @comment.errors.full_messages.each do |error|%>
                 <li><%= error %></li>
              <%end%>
            </ul>
          </div>

          <%else%>
          <div class="comments col-md-8">
            <h2>Comentarios</h2>
            <% @post.comments.each do |comment| %>
            <hr>
            <div class="panel panel-default">
              <header class="panel-heading"><%= comment.user.email %></header>
              <div class="panel-body"><%= comment.body %></div>
            </div>
          <% end %>
          </div>
        <%end%>
        <%if user_signed_in? %>
          <%= render 'show'  %>
        <%end%>
    </div>
  </div>
</div>
