


    <h1><%=markdown(@post.title)%></h1>
    <p><%=@post.user.email%>, <%=@post.created_at%></p>
    <p> <%=markdown(@post.body) %></p>

    <%@post.comments.each do |comment| %>
      <p> <%= comment.user.email%>, <%=comment.created_at %></p>
      <p> <%= markdown(comment.body) %></p>
    <% end %>
    <%= link_to "Ir a los posts", posts_path%>

    <%if user_signed_in? %>
      <%= render 'show'  %>
    <%end%>
