<div class="container">
  <div class="row">
    <%= link_to "Ir a los posts", posts_path, class:"btn-primary btn-lg col-sm-offset-10"%>
      <div class="col-md-12">
        <div class="col-md-5 col-md-offset-2">
          <h1><%=markdown(@post.title)%></h1>
          <% if @post.header_image.attached? %>
            <p><%=@post.user.email%>,<%=time(@post)%></p>
            <%=image_tag @post.header_image.variant(resize: "300x300")%>
        </div>
        <div class="col-md-7 col-md-offset-2">
          <p><%=markdown(@post.body)%></p>
          <% @post.uploads.each do |upload|%>
            <% if upload.variable?%>
                <%=link_to image_tag(upload.variant(resize: "300x300")), upload%>
              <% elsif upload.previewable?%>
                <%=link_to image_tag(upload.preview(resize: "300x300")), rails_blob_path(upload, disposition: :attachment)%>
              <% elsif upload.image?%>
                <%=link_to image_tag(upload, width: 300), upload%>
              <% else %>
                <%=link_to upload.filename, rails_blob_path(upload, disposition: :attachment)%>
            <%end%>
          <%end%>
        </div>
      </div>

        <% else %>
          <%= render 'local'  %>
        <%end%>

        <%if @comment.errors.any?%>
          <div class="alert alert-danger">
            <ul>
              <% @comment.errors.full_messages.each do |error|%>
                 <li><%= error %></li>
              <%end%>
            </ul>
          </div>

          <%else%>
          <div class="comments col-md-8 col-md-offset-2">
            <h2>Comentarios</h2>
            <% @post.comments.each do |comment| %>
            <hr>
            <div class="panel panel-default">
              <header class="panel-heading"><%= comment.user.email %></header>
              <div class="panel-body"><%= comment.body %></div>
            </div>
          <% end %>
          </div>
        <%end%>
        <%if user_signed_in? %>
          <%= render 'show'  %>
        <%end%>
    </div>
  </div>
</div>
