<div class="container">
  <div class="row">
    <%= link_to "Ir a los posts", posts_path, class:"btn-primary btn-lg col-sm-offset-10"%>
    <h1><%=markdown(@post.title)%></h1>
    <p><%=@post.user.email%>,
      <%=time(@post)%></p>
    <p>
      <%=markdown(@post.body) %></p>
    <%if @comment.errors.any?%>
    <div class="alert alert-danger">
      <ul>
        <% @comment.errors.full_messages.each do |error|%>
           <li><%= error %></li>
        <%end%>
       </ul>
    </div>
      <%else%>
      <div class="form-group">
        <%@post.comments.each do |comment| %>
          <br>
            <div class="comments">
                <%= comment.user.email%>
                <%=time(comment)%>
              <div class="comment-body">
                <%= markdown(comment.body)%>
              </div>
            </div>
        <% end %>
    <%end%>
      </div>

    <%if user_signed_in? %>
    <%= render 'show'  %>
    <%end%>

  </div>
</div>
