<!DOCTYPE html>
<html>
  <head>
    <title>Blogueando</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-warning">
      <a class="navbar-brand navbar-name" href="/posts" style="color:#019999">Blogueando</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-image:url(/assets/person.png);background-size:contain;">

          <div class="title">
            <%if user_signed_in?%>
              <div>
                <a class="nav-item nav-link active say_hi" href="#">¡Hola! <%=current_user.first_name%> <%=current_user.last_name%>
              </div>
              <div class="">
                <div class="">
                  <a class="nav-item col-sm-offset-10 col-md-offset-8" href="#"><%=link_to "Salir", destroy_user_session_path, :method => 'delete', style:"font-size:20px; color:#ffffff; " ;%></a>
                </div>
                <%else%>
                <div class="col-sm-offset-6 col-md-offset-6">
                  <a class="sign nav-item nav-link" href="#"><%=link_to "Iniciar Sesión", new_user_session_path, style:"font-size:20px;color:#ffffff;"%></a>
                  <a class="signout nav-item nav-link" href="#"><%=link_to "Regístrate", new_user_registration_path, style:"font-size:20px;color:#ffffff;"%></a>
                </div>
              </div>
            </div>
          <%end%>
        </div><!-- Navbar content -->
    </nav>
  <% if flash[:notice] %>
  	<div class="alert alert-info">
  		<%= flash[:notice] %>
  	</div>
  <% end %>
    <%= yield %>
    <footer style="color:white; background-size: contain; background-image:url(/assets/person.png);"> © 2019 <strong> Blogueando </strong>, Todos los Derechos Reservados
     </footer>
  </body>
</html>
