<!DOCTYPE html>
<html>
  <head>
    <title>Blogueando</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-warning">
      <a class="navbar-brand navbar-name" href="/posts" style="color:#ffffff">Blogueando</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="background-color:#000000";>
          <div class="navbar-nav title" >
            <%if user_signed_in?%>
              <a class="nav-item nav-link active say_hi" href="#">Bienvenido(a)!! <%=current_user.email%>
              <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link col-md-offset-2" href="#"><%=link_to "Salir", destroy_user_session_path, :method => 'delete', style:"font-size:20px; color:#ffffff; text-decoration:underline;" ;%></a>
              <%else%>
              <a class="sign nav-item nav-link" href="#"><%=link_to "Iniciar Sesión", new_user_session_path%></a>
              <a class="signout nav-item nav-link" href="#"><%=link_to "Regístrate", new_user_registration_path%></a>
            </div>
          <%end%>
        </div><!-- Navbar content -->
    </nav>

  <% if flash[:notice] %>
  	<div class="alert alert-info">
  		<%= flash[:notice] %>
  	</div>
  <% end %>
    <%= yield %>

    <footer style="color:white;"> © 2019 <strong> Blogueando </strong>, Todos los Derechos Reservados </footer>
  </body>
</html>
